body {
  background-image: url("");
}

.row div {

  }

  #resetbtn {
    background-color: turquoise;
    border-radius: 8px;
    margin-left: 100px;
    margin-top: 2%;
  }

.text-center {
    text-align: center;
  }

h1 {
  text-align: center;
  }

#player1 {
  font-family: 'Pacifico', cursive;
  color: turquoise;
}

#player2 {
  font-family: 'Pacifico', cursive;
  color: blue;
}

.navbar-brand {
  height: 50px;
  padding: 10px;
}

#logo {
  width: 25rem;
  height: auto;
  mix-blend-mode: multiply;

}

#word-image {
margin: 0 auto;
display: block;
height: 20rem;
mix-blend-mode: multiply;


}

#number {
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  color: purple;
}

#p1 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  padding-top: 3%;
}

#p2 {
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}


